.radio_item {
  cursor: pointer;
}
.radio_item input {
  display: none;
}

.radio_item p {
  padding: 1.25em 0;
  margin: 0;
  border-radius: 12px;
  background-color: var(--gray900);
  color: var(--gray100);
  text-align: center;
}

.radio_item input:checked + p {
  color: var(--gray950);
  background-color: var(--primary);
}
