.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.heading > h2 {
  margin: 0;
  font-weight: var(--font-semibold);
  font-size: var(--text-2xl);
}

.sub_heading {
  margin-bottom: 8px;
  color: var(--gray600);
  font-size: var(--text-sm);
}

.no_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: var(--gray600);
  font-size: var(--text-xs);
}
