.react-datepicker {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--gray900);
}

.react-datepicker div {
  color: white;
}

.react-datepicker__header {
  background-color: var(--gray900);
}

.react-datepicker__day:hover {
  background-color: var(--primary-light);
  color: black;
}

.react-datepicker__day.react-datepicker__day--disabled {
  color: var(--gray600);
}

.react-datepicker__day--disabled:hover {
  background-color: transparent;
}

.react-datepicker__day.react-datepicker__day--selected {
  background-color: var(--primary);
  color: black;
}

.react-datepicker__day--selected:hover {
  background-color: var(--primary-light);
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent;
}
