:root {
  --primary: #cfa028;
  --primary-light: #efc457;
  --gray950: #101112;
  --gray900: #212529;
  --gray800: #343a40;
  --gray600: #6c757d;
  --gray500: #adb5bd;
  --gray300: #dee2e6;
  --gray100: #f8f9fa;
  --red: #dc3545;
}
