.container {
  color: white;
}

.thumbnail_box {
  background-color: var(--gray900);
  position: relative;
  margin-bottom: 16px;
  padding: 10px 30px;
}

.bookmark_icon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 11%;
  z-index: 100px;
}

.user_count {
  display: flex;
  width: fit-content;
  position: absolute;
  bottom: 20px;
  right: 20px;
  align-items: baseline;
}

.count_icon {
  height: 16px;
  gap: 6px;
}

.user_count span {
  font-size: 0.75rem;
  color: var(--gray300);
  margin-left: 6px;
  vertical-align: sub;
}

.content_box {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.content_box div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content_head {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.content_box .title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-right: 10px;
}

.lock_icon {
  color: var(--gray700);
  height: 18px;
  min-width: 18px;
}
