.bar {
  display: flex;
  align-items: center;
  background-color: var(--gray950);
  color: var(--gray300);
  height: 77px;
  padding: 0.2em 1.5em;
}

.info,
.goal,
.buttons {
  flex: 1;
  display: flex;
  align-items: center;
}

.goal {
  justify-content: center;
}

.buttons {
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.video_button,
.audio_button {
  padding: 0.8em 1em;
}

.video_button {
  border-right: 1px solid var(--gray800);
}

.start_button {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.9em 5em;
  width: 300px;
  background-color: var(--primary);
  color: var(--gray950);
  border-radius: 4px;
}

.start_button:disabled {
  background-color: var(--gray800);
}

.music {
  display: flex;
  align-items: center;
  margin-left: 0.8em;
  font-size: 0.75rem;
  color: var(--gray600);
}

.music_icon {
  padding: 0.5em;
}

.off {
  color: var(--red);
}
