.bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 75px;
  padding: 8px 24px;
  background-color: var(--gray950);
  color: var(--gray300);
}

.bar button,
.bar i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info,
.goal,
.buttons {
  flex: 1;
  display: flex;
  align-items: center;
}

.goal {
  justify-content: center;
}

.buttons {
  justify-content: flex-end;
}

.video_button,
.audio_button {
  padding: 0.8em 1em;
}

.video_button {
  border-right: 1px solid var(--gray800);
}

.start_button {
  width: 300px;
  padding: 0.9em 5em;
  border-radius: 4px;
  background-color: var(--primary);
  color: var(--gray950);
  font-size: 1rem;
  font-weight: var(--font-semibold);
}

.start_button:disabled {
  background-color: var(--gray800);
  color: var(--gray500);
  cursor: default;
}

.music {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 16px;
  font-size: 0.75rem;
  color: var(--gray600);
}

.off {
  color: var(--red);
}

.setting_tooltip,
.plan_tooltip {
  position: absolute;
  top: -70px;
  left: 16px;
}

.plan_tooltip {
  left: 50%;
  transform: translateX(-50%);
}
