.container {
  width: 75%;
  height: 100vh;
  max-width: 1320px;
  padding: 0 100px;
  margin: 70px auto;
  color: var(--gray100);
  font-weight: 500;
}

.close_btn {
  display: flex;
  justify-content: end;
}

.close_btn button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 36px;
  color: var(--gray800);
}

.close_btn button:hover {
  color: var(--gray700);
}

.close_btn span {
  color: var(--gray500);
  font-size: 0.75rem;
}

.heading {
  margin: 0;
  margin-bottom: 4px;
  font-size: 1.75em;
  font-weight: 600;
}

.sub_heading {
  margin: 0;
  margin-bottom: 1.5em;
  color: var(--gray600);
  font-size: 1.25em;
}

.label {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.25em;
  font-weight: 600;
}

.roominfo_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.category {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 3em;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--gray900);
}

.category_item {
  flex: 1;
}

.hashtag_item,
.device_item {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 12px;
}

.detail_button,
.save_button {
  display: flex;
}

.detail_button button {
  margin: 3em auto;
  color: var(--gray600);
  font-size: 0.875rem;
  font-weight: 700;
}

.default_box {
  margin-bottom: -2em;
}

.save_button button {
  background-color: var(--primary);
  border-radius: 4px;
  color: var(--gray950);
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 100px;
  padding: 16px;
  width: 100%;
}

.save_button button:disabled {
  background-color: var(--gray900);
  color: var(--gray600);
}

.detail {
  display: none;
}

.detail_clicked {
  display: block;
  margin-bottom: 3rem;
}

.detail_box {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.detail_box > div:nth-child(1) {
  flex: 1 1 50%;
}

.detail_box > div:nth-child(2) {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invalid_message {
  margin: 0;
  color: var(--red);
  font-weight: 400;
  font-size: 0.875rem;
}

.invalid_message.hide {
  visibility: hidden;
}

.image_box {
  margin-right: 24px;
}

.textarea {
  height: 120px;
}

@media screen and (max-width: 1600px) {
  .container {
    margin: 30px auto;
  }
  .save_button button {
    margin-bottom: 40px;
    padding: 0.75em;
  }
  .roominfo_item {
    font-size: 0.75rem;
  }
  .detail_box {
    font-size: 0.75rem;
  }
}
