.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow-y: scroll;
  z-index: 100;
}

.inner {
  width: 75%;
  max-width: 1320px;
  padding: 20px 100px;
  padding-bottom: 0;
  margin: 0 auto;
  color: var(--gray100);
}

.close_btn {
  display: flex;
  justify-content: end;
}

.label {
  margin: 0;
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 600;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.roominfo_item {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
}

.device_item {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 12px;
}

.detail_button,
.save_button {
  display: flex;
  margin: 36px 0;
}

.detail_button button {
  margin: 0 auto;
  color: var(--gray600);
  font-size: 0.875rem;
  font-weight: 700;
}

.save_button button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary);
  border-radius: 4px;
  color: var(--gray950);
  font-size: 0.875rem;
  font-weight: 600;
}

.save_button button:disabled {
  background-color: var(--gray900);
  color: var(--gray600);
}

.items {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.items > div:nth-child(1) {
  flex: 1 1 50%;
}

.items > div:nth-child(2) {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.invalid_message {
  margin-left: 12px;
  color: var(--red);
  font-weight: 400;
  font-size: 0.85rem;
}

.textarea {
  height: 120px;
}
