.btn_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 2rem;
}

.close_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36px;
  gap: 4px;
  color: var(--gray800);
}

.close_btn:hover {
  color: var(--gray700);
}

.close_btn span {
  color: var(--gray500);
  font-size: 0.75rem;
}
