@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans KR", sans-serif;
}

body {
  margin: 0;
  background-color: var(--gray950);
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 100px;
  background-color: rgba(52, 58, 64, 0.5);
  background-clip: padding-box;
}
