.box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item > p {
  margin: 0;
  margin-bottom: 8px;
}

.item div {
  font-weight: var(--font-normal);
}

.dday {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textarea {
  height: 90px;
}
