.plan_bar {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--gray950);
  color: white;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.plans {
  flex: 1;
}
