.plan_bar {
  background-color: var(--gray950);
  color: white;
  width: 100%;
  height: 100%;
  padding: 0.5em;
}

.plans {
  height: 90%;
  padding: 0.5em;
}

.form {
  height: 10%;
  padding: 0 0.5em;
}
