.container {
  position: relative;
  margin: 0.5rem;
  color: #f8f9fa;
  font-size: 0.875rem;
  cursor: pointer;
}

.container p {
  margin: 0;
}

.select {
  display: flex;
  background-color: #212529;
  border: 1px solid #ffffff1a;
  border-radius: 4px;
  width: 100%;
  padding: 13px 15px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.container ul {
  display: none;
}

.container ul.active {
  display: block;
  position: absolute;
  width: 100%;
  background-color: #212529;
  border: 1px solid #ffffff1a;
  border-radius: 4px;
  margin: 6px 0;
  padding-left: 0;
  z-index: 1;
}

.container ul li {
  list-style: none;
  padding: 13px 15px;
}

.container ul li:hover {
  background-color: #343a40;
}
