.container {
  position: relative;
  color: var(--gray100);
  cursor: pointer;
  font-size: inherit;
}

.container p {
  margin: 0;
}

.select {
  display: flex;
  background-color: var(--gray900);
  border: 1px solid #ffffff1a;
  border-radius: 4px;
  width: 100%;
  padding: 0.8125em 1em;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.container ul {
  display: none;
}

.container ul.active {
  display: block;
  position: absolute;
  width: 100%;
  background-color: var(--gray900);
  border: 1px solid #ffffff1a;
  border-radius: 4px;
  margin: 6px 0;
  padding-left: 0;
  z-index: 1;
  max-height: 140px;
  overflow: auto;
  scrollbar-color: #d4aa70 #e4e4e4;
}

.container ul li {
  list-style: none;
  padding: 0.8125em 1em;
}

.container ul li:hover {
  background-color: rgba(52, 58, 64, 0.5);
}
