.radio_item {
  cursor: pointer;
}
.radio_item input {
  display: none;
}

.radio_item p {
  padding: 1.25rem 0;
  margin: 0;
  border-radius: 0.75rem;
  background-color: #212529;
  color: #f8f9fa;
  font-size: 1rem;
  text-align: center;
}

.radio_item input:checked + p {
  background-color: #bf7d8a;
}
