.bookmark {
  color: white;
}

.count,
.detail_box,
.rule {
  margin: 0;
}

.count_info {
  display: flex;
  background-color: var(--gray950);
}

.count_box {
  flex: 1 1 70%;
  padding-left: 1em;
}

.count_icon {
  height: 44px;
  gap: 12px;
}

.count {
  margin-top: 0.5em;
  font-size: 1.8rem;
  font-weight: 600;
}

.button_box {
  flex: 1 1 30%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.button {
  padding: 1em 6em;
  font-weight: 700;
  border-radius: 4px;
  color: var(--gray950);
  background-color: var(--primary);
}

.info {
  display: flex;
  background-color: black;
  padding: 1em;
  margin: 1em 0;
}

.detail {
  flex: 1 1 70%;
  display: flex;
  gap: 1em;
}

.user_list {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
}

.thumbnail {
  background-color: var(--gray900);
}

.room_info {
  width: 60%;
}

.name {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
  font-weight: 500;
}

.detail_box {
  margin-bottom: 0.3em;
}

.title {
  margin-right: 0.5em;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--gray300);
}

.content {
  font-size: 0.9rem;
  color: var(--gray500);
}

.rule {
  display: flex;
}

.rule_title {
  flex: 1 1 15%;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--gray300);
}

.rule_content {
  flex: 1 1 85%;
  display: -webkit-box;
  height: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 0.9rem;
  color: var(--gray500);
}
