.bubble {
  background-color: var(--gray800);
  border-radius: 20px 20px 0px 20px;
  padding: 12px;
  margin-bottom: 8px;
  margin-left: auto;
  width: fit-content;
  color: #ffffff;
  font-size: 1rem;
  line-height: 28px;
}

.bubble.left {
  border-radius: 20px 20px 20px 0px;
  margin-left: 0;
  margin-right: auto;
}

.info {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  color: var(--gray300);
  font-size: 0.75rem;
}

.info.left {
  justify-content: flex-start;
}
