.item {
  display: flex;
  margin: 8px 12px;
  color: var(--gray500);
  font-size: var(--text-sm);
}

.color {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #ffffff;
}

.title {
  display: flex;
  align-items: center;
  margin-right: auto;
}
