.box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item > h3 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 0.875rem;
  font-weight: 500;
}

.dday {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textarea {
  height: 90px;
}
