.count {
  display: flex;
  align-items: center;
  gap: inherit;
  height: 100%;
  color: var(--primary);
}

.person {
  height: 100%;
}

.plus {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
