.container {
  color: white;
}

.thumbnail_box {
  background-color: #212529;
  position: relative;
  margin-bottom: 16px;
}

.bookmark_icon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 18px;
}

.user_count {
  display: flex;
  width: fit-content;
  position: absolute;
  bottom: 20px;
  right: 20px;
  align-items: baseline;
}

.user_count span {
  font-size: 0.75rem;
  color: #dee2e6;
  margin-left: 6px;
  vertical-align: sub;
}

.content_box {
  display: flex;
  flex-direction: column;
}

.content_box div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content_head {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.content_box .title {
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}

.lock_icon {
  color: #495057;
  height: 18px;
  min-width: 18px;
}
