.add_button {
  border: 1px solid var(--gray700);
  border-radius: 50%;
  padding: 1em;
  cursor: pointer;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  color: var(--gray700);
}
