.participant {
  display: flex;
  align-items: flex-end;
  color: white;
}

.count_box {
  flex: 1 1 70%;
}

.count_icon {
  height: 48px;
  gap: 12px;
  display: flex;
}

.count {
  margin: 0;
  margin-top: 0.5em;
  font-size: 1.8rem;
  font-weight: 600;
}

.button_box {
  flex: 1 1 30%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.button {
  padding: 0.7em 4.1em;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 4px;
  color: var(--gray950);
  background-color: var(--primary);
}
