.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 18px;
  gap: 10px;
  color: #6c757d;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.container.active {
  color: white;
  border-color: white;
  transition: 0.5s;
}
