.room {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #101112;
}

.video_component.show {
  flex: 1 1 90%;
  display: flex;
  justify-content: center;
}

.bar.show {
  flex: 1 1 10%;
  position: relative;
}

.setting_tooltip,
.plan_tooltip {
  position: absolute;
  top: -70px;
  left: 16px;
}

.plan_tooltip {
  left: 50%;
  transform: translateX(-50%);
}

.video_component.hide,
.bar.hide {
  display: none;
}

.video {
  height: 100%;
  object-fit: contain;
  transform: rotateY(180deg);
}
