.footer {
  margin-top: 1em;
  background-color: black;
  color: var(--gray300);
}

.info {
  width: 75%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
}

.title {
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.detail {
  display: flex;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 0.4em;
}

.name {
  font-size: 1.1rem;
  font-weight: 500;
}

.contact,
.team {
  padding: 1em;
  margin: 0 2em;
}

.contents,
.content {
  margin: 0;
}

.contents {
  font-size: 1.2rem;
  font-weight: 500;
}

.copyright {
  padding-top: 2em;
  padding-bottom: 3.5em;
  text-align: center;
}
