.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 12px;
}

.title_input {
  font-size: 0.75rem;
  margin-bottom: 10px;
}
