.side_box {
  display: flex;
  flex-direction: column;
  background-color: #101112;
  width: 100%;
  height: 100%;
  padding: 0.5em;
}

.chat_box {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.5em;
  gap: 16px;
  overflow-y: scroll;
}

.chat_box::-webkit-scrollbar {
  display: none;
}

.form {
  height: 10%;
  padding: 0 0.5em;
}
