.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  font-weight: var(--font-semibold);
  font-size: var(--text-2xl);
}

.sub_heading {
  margin-bottom: 8px;
  color: var(--gray600);
  font-size: var(--text-sm);
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 60px;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 16px;
  font-size: var(--text-sm);
}

.bold {
  font-weight: var(--font-bold);
  font-size: var(--text-3xl);
}

.text_box {
  grid-column: 1/3;
  font-size: var(--text-sm);
}

.text_field {
  height: 90px;
}
