.side_nav_bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 100px;
  width: 170px;
  height: fit-content;
  color: var(--gray500);
}

.side_nav_bar > li {
  font-weight: 600;
  cursor: pointer;
}

.sub {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px 12px;
}

.sub > li {
  font-size: 0.875rem;
  font-weight: 500;
}
