.container {
  display: flex;
}

.container input,
.container div {
  display: block;
}

.container input {
  border: 1px solid #ffffff1a;
  border-radius: 4px;
  background-color: var(--gray900);
  color: #ffffff;
  font-size: inherit;
  padding: 0.8125em 1em;
  width: 100%;
}

.container input:focus {
  outline: none;
  border: 1px solid #ffffff1a;
}

.container.invalid input {
  border: 1px solid #dc3545;
}
