.input {
  border: 1px solid #ffffff1a;
  border-radius: 4px;
  background-color: var(--gray900);
  color: #ffffff;
  font-size: inherit;
  padding: 0.75em 1em;
  width: 100%;
}

.input:focus {
  outline: none;
}

.invalid {
  border: 1px solid var(--red);
}
