.text_field {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff1a;
  border-radius: 4px;
  background-color: var(--gray900);
  color: #ffffff;
  font-size: inherit;
  padding: 0.75em 1em;
  width: 100%;
}

.input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--gray600);
}

.invalid {
  border: 1px solid var(--red);
}

.text_length {
  padding-left: 8px;
  color: var(--gray600);
}
