.container {
  color: white;
  display: flex;
  flex-direction: column;
}

.studyroom_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  font-size: 0.75rem;
}

.studyroom_head .filter {
  display: flex;
}

.studyroom_head .filter > div:nth-child(1) {
  width: 150px;
  margin-right: 12px;
}

.studyroom_head .filter > div:nth-child(2) {
  width: 110px;
}

.tab_menu {
}

.content {
  margin-bottom: 53px;
}

.more_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--gray600);
  font-size: 1.125rem;
  margin: 40px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  width: 1.25rem;
  height: 1.25rem;
}

.icon path {
  stroke-width: 1;
}
