.container {
  color: white;
  display: flex;
  flex-direction: column;
}

.studyroom_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  font-size: 0.75rem;
}

.studyroom_head .filter {
  display: flex;
}

.studyroom_head .filter > div:nth-child(1) {
  width: 150px;
  margin-right: 12px;
}

.studyroom_head .filter > div:nth-child(2) {
  width: 110px;
}

.tab_menu {
}

.content {
  margin-bottom: 53px;
}

.container button {
  color: white;
  font-size: 1.25rem;
}
