.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.overlay {
  position: fixed;
  top: 30vh;
  left: calc(50% - 180px);
  width: 360px;
  z-index: 100;
  overflow: hidden;
}

.modal_box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  background-color: white;
  border-radius: 4px;
}

.header {
  display: flex;
  padding: 0.5rem;
}

.icon {
  margin-left: auto;
  cursor: pointer;
}

.content {
  padding: 1.5rem;
}

.actions {
  margin: 1rem;
}

.actions button {
  color: black;
  padding: 0.5rem 2rem;
  margin: 0 0.5rem;
  border: 1px solid #cfa028;
  border-radius: 4px;
  background-color: #cfa028;
}
.actions button:hover {
  background-color: #e9b636;
}

.actions button:nth-child(2) {
  background-color: white;
}

.actions button:nth-child(2):hover {
  background-color: rgb(243, 243, 243);
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
