.mypage {
  color: white;
  max-width: 1140px;
  display: flex;
  width: 75%;
  margin: 70px auto;
  gap: 90px;
}

.side_nav_bar {
  position: sticky;
  top: 100px;
  height: fit-content;
  width: 170px;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-weight: var(--font-semibold);
  font-size: var(--text-2xl);
  margin-bottom: 24px;
}

.sub_heading {
  font-size: var(--text-sm);
  color: var(--gray600);
  margin-bottom: 8px;
}

.contents {
  margin-bottom: 60px;
}

.my_goal .contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.text_box {
  grid-column: 1/3;
  font-size: var(--text-sm);
}

.text_field {
  height: 90px;
}

.my_goal_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 16px;
  font-size: var(--text-sm);
}

.bold {
  font-weight: var(--font-bold);
  font-size: var(--text-3xl);
}

.study_history .contents {
  display: flex;
  justify-content: space-around;
}

.box {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.date_box .content {
  margin: 18px 0;
}

.study_time_box .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.total_time {
  font-weight: var(--font-semibold);
  font-size: var(--text-2xl);
  line-height: 48px;
}

.subject_list {
  width: 100%;
}

.no_content {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray600);
  font-size: var(--text-xs);
}

.account .contents {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.nickname {
  font-size: var(--text-xl);
  font-weight: var(--font-medium);
  margin: 28px 16px;
}

.delete_btn {
  background-color: var(--gray900);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 12px;
  color: var(--gray600);
  margin: 22px 53px;
}
