.side {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  background-color: var(--gray950);
  height: 100%;
  padding: 16px;
}

.side.hide {
  display: none;
}

.chat_box {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.5em;
  gap: 16px;
  overflow-y: scroll;
}

.chat_box::-webkit-scrollbar {
  display: none;
}
