.date_input {
  background-color: var(--gray900, #212529);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 10px 32px;
}

.date_input:hover {
  background-color: var(--gray800, #343a40);
}
