.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.move_button {
  margin: 0 12px;
  padding: 8px;
  display: flex;
  justify-content: center;
}

.icon svg {
  width: 10px;
}

.icon path {
  fill: var(--gray300);
}

.date_picker {
  width: 100%;
  position: relative;
}
