.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  margin: 0 12px;
  padding: 8px;
}

.button > svg {
  width: 10px;
}

.button.hide {
  visibility: hidden;
}
