.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 0 10px;
  display: flex;
  justify-content: center;
}

.icon svg {
  width: 10px;
}

.icon path {
  fill: var(--gray300);
}

.date_picker {
  position: relative;
}

.day_default {
  color: white;
}
.day_default:hover {
  background-color: var(--primary-light);
}

.day_disabled {
  color: var(--gray600);
}
.day_disabled:hover {
  background-color: transparent;
}

.day_selected {
  color: white;
  background-color: var(--primary);
}

.day_selected:hover {
  background-color: var(--primary-light);
}
