.room {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #101112;
}

.video_container {
  height: 90vh;
}

.videos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.bar {
  height: 10vh;
}
