.box {
  border: 1px solid #ffffff1a;
  border-radius: 4px;
  background-color: var(--gray900);
  color: #ffffff;
  padding: 1em;
  width: 100%;
  height: 100%;
  font-size: inherit;
}

.box:focus {
  outline: none;
  border: 1px solid var(--primary);
}
